# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
ehthumbs_vista.db
DesktopServicesRoles/
Document Revisions-V100/
fseventsd/
.fseventsd/
.TemporaryItems/
.Trashes/
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.com.apple.finder.info
.com.apple.desktopservices
.com.apple.timemachine.supported
.AppleDouble/
.LSOverride/
.gitkeep

# iCloud et autres caches
*.icloud
*.icloud-original
*.icloud-downloaded

# Autres fichiers temporaires (général)
*.tmp
*.temp
Thumbs.db



